# Examen

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import misc
import io
import requests

# 1) ¿Cómo dividir una columna de texto en dos columnas separadas?

In [34]:
df = pd.DataFrame(["STD, City State",

"33, Kolkata West Bengal",

"44, Chennai Tamil Nadu",

"40, Hyderabad Telengana",

"80, Bangalore Karnataka"], columns=['row'])

df.columns.str.split(' ')
df

                       row
0          STD, City State
1  33, Kolkata West Bengal
2   44, Chennai Tamil Nadu
3  40, Hyderabad Telengana
4  80, Bangalore Karnataka

# 2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe?

In [31]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
df
df.apply(pd.value_counts)
df

   a  b  c  d
0  6  7  6  6
1  9  3  6  6
2  1  3  9  3
3  7  2  5  9
4  9  9  7  6

# 3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas

In [23]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),

'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)}

SyntaxError: unexpected EOF while parsing (<ipython-input-23-bd2189a259c8>, line 5)

# 4) A partir de un diccionario crear un DataFrame

In [25]:
data = {'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}
pd.DataFrame.from_dict(data)

    X   Y   Z
0  28  74  36
1  35  84  47
2  46  99  56
3  50  13  62
4  66  26  73

# 5) Genere 3 columnas con 5 elementos cada uno. Cree una función para eliminar los N primeras o N últimas filas

In [51]:
data1 = pd.DataFrame.from_dict(data)
data1

def eliminar(data, opcion, numero):
    if opcion == 'inicio':
        for i in numero:
            data.drop[i]
    
eliminar(data1, 'inicio' , 2)

TypeError: 'int' object is not iterable

# 6) Genere 5 columnas con 5 elementos cada uno. Cree una función para ordenar de forma ascendente o descendente los datos por columna

In [39]:
data2 = {'V':[1,2,3,4,5],'W':[6,7,8,9,10],'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}
data6 = pd.DataFrame.from_dict(data2)

def ordenar(data, orden):
    for row in data:
        for column in data:

   V   W   X   Y   Z
0  1   6  28  74  36
1  2   7  35  84  47
2  3   8  46  99  56
3  4   9  50  13  62
4  5  10  66  26  73

# 7) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [55]:
data3 = {'W':[6,7,8,9,10],'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}
data7 = pd.DataFrame.from_dict(data3)
data7

def registros(data, filas):
    df.iloc[-filas:]
    return df

registros(data7, 2)

    a   b
0   4  11
1  19  13
2   5   6
3  14  12
4   2   7
5  18  12
6   7  10
7  11  12
8  14   3
9   7  13

# 8) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [ ]:
ddef registros(data, filas):
    df.iloc[-filas:]
    return df

registros(data7, 2)

# 9) Genere 6 columnas con 5 elementos cada uno. Cree una función para obtener un nuevo DataFrame sin la columna X

In [41]:
data4 = {'U':[1,2,3,4,5],'V':[1,2,3,4,5],'W':[6,7,8,9,10],'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}
data9 = pd.DataFrame.from_dict(data4)
data9

def df_sin_colum(data, column):

   U  V   W   X   Y   Z
0  1  1   6  28  74  36
1  2  2   7  35  84  47
2  3  3   8  46  99  56
3  4  4   9  50  13  62
4  5  5  10  66  26  73

# 10) Genere 3 columnas con 5 elementos cada uno. Cree una función para obtener el numero de columnas en un dataframe

In [42]:
data1

def get_column(data):

    X   Y   Z
0  28  74  36
1  35  84  47
2  46  99  56
3  50  13  62
4  66  26  73

# 11) Genere 2 columnas con 20 elementos cada uno. La primera columna debe de tener uno de los siguientes valores: C1, C2, C3 y C4. Estos valores se pueden repetir. La segunda columna tiene valores de números cualesquiera. Cree una función para agrupar por la Primera Columna y que se listen los valores agrupados de la segunda Columna.

In [45]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 2), columns = list('ab'))
df

    a   b
0   4  11
1  19  13
2   5   6
3  14  12
4   2   7
5  18  12
6   7  10
7  11  12
8  14   3
9   7  13

# 12) Cree una función para crear un DataFrame a partir de una lista de listas. Suponga que la lista en la posicion 0 siempre son las cabeceras.

In [54]:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]
def crear(data):
    df = pd.DataFrame(data)
    return df

crear(sales)

   Feb  Jan  Mar    account
0  200  150  140  Jones LLC
1  210  200  215   Alpha Co
2   90   50   95   Blue Inc

# 13) Escriba una funcion que inserte en un indice especifico una nueva columna de datos en un DataFrame. Cree un DataFrame de ejemplo para probar su funcion

In [56]:
nuevo_insert = crear(sales)

def insert_index(data, index, column, value):
    df.insert(loc=index, column= column,value = value)
    return df

new_data = [1,2,3]

insert_index(nuevo_insert, 0, 'new', new_data)

ValueError: Length of values does not match length of index

# 14) Escriba una funcion para eliminar los valores de numpy “inf”, “-inf” es decir Infinite Positive e Infinite negative de un dataframe por NaN. Cree un DataFrame de ejemplo para probar su funcion.

# 15) Cree una funcion para cambiar strings o flotantes a tipo de dato entero de una columna y booleanos a 0 si es falso o 1 si es verdadero (tambien debe de quedar cambiada la columna a tipo entero). Cree un DataFrame de ejemplo para probar su funcion. Aqui un posible ejemplo:

# 16) Escriba una funcion para ordenar un dataframe por 2 o mas columnas. Cree un DataFrame de ejemplo para probar su funcion.

# 17) Escriba una funcion para buscar en que columnas se repite cierto valor y cuales no. Cree un DataFrame de ejemplo para probar su funcion.

# 18) Escriba una funcion para listar los valores minimos o maximos de toda la columna de un subconjunto de columnas. El programa debe de devolver el nombre de la columnas y el arreglo de indices de fila de los valores minimos y maximos. Cree un DataFrame de ejemplo para probar su funcion.

# 19) Escriba una funcion que reciba como parametro un arreglo de nombres de columna y devuelva un diccionario de columnas con los valores de esa columna como “lista”. El tipo de dato del valor de cada elemento del diccionario debe ser “lista”.

# 20) Escriba una funcion que reciba como parametros el numero de filas y que devuelva la selección de un subconjunto de elementos randomicos del DataSet.